.Input {
  width: calc(270px - 10px);
  height: calc(35px - 20px);
  padding: 10px;

  border-radius: 3px;
  border: 1px solid #00000000;
}

.Input:focus {
  border: 1px solid var(--purple);
  outline: var(--purple);
}

.error {
  color: var(--error);
}
